# Default ignored files
/shelf/
/workspace.xml
.idea**

# ignore the visualization related assets
figures/
count_lines*

node_modules
package-lock.json

*instructions*

*.log

# Maestro UI test artifacts
log/
ui-test-m/site-sanity/artifacts*/
ui-test-m/site-sanity/debug*/