html, body{
    background-color: #0d1117;
    color: rgb(201,209,217);
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
    color: #1fd1f9;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
a:focus {
    /* Adds an outline on focus */
    outline: 2px solid #1fd1f9;
}
a::after{
    /* Adds the title value as a tool tip info */
    content: attr(title);
    padding: 4px 8px;
    border-radius: 4px;
    pointer-events: none;
}
/* Default font size */
.content {
    /* Adjust the default font size as needed */
    font-size: 2vw; 
}
h2{
    font-size: 3vw;
}

/* Extra Small Devices (portrait phones) */
@media (max-width: 576px) {
    /* Adjust font size for extra small screens */
    .content {
        font-size: 4vw;         
    }
    h2{
        font-size: 5vw;
    }
}

/* Small Devices (landscape phones) */
@media (min-width: 576px) and (max-width: 768px) {
    /* Adjust font size for small screens */
    .content {
        font-size: 3vw;         
    }
    h2{
        font-size: 4vw;
    }
}

/* Medium Devices (tablets) */
@media (min-width: 768px) and (max-width: 992px) {
    /* Adjust font size for medium screens */
    .content {
        font-size: 3vw; 
    }
    h2{
        font-size: 4vw;
    }
}

/* Large Devices (desktops) */
@media (min-width: 992px) and (max-width: 1200px) {
    /* Adjust font size for large screens */
    .content {
        font-size: 2vw;         
    }
    h2{
        font-size: 3vw;
    }
}

/* Extra Large Devices (large desktops) */
@media (min-width: 1200px) {
    /* Adjust font size for extra large screens */
    .content {
        font-size: 2vw;         
    }
    h2{
        font-size: 3vw;
    }
}
footer{
    text-align: center;
}