*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #000;
    margin: 2%;
    color: rgb(161, 167, 173);
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    color: #22f91f;
    /* font-weight: bold; */
}

a:hover{
    text-decoration: underline;
}

a:focus {
    /* Adds an outline on focus */
    outline: 2px solid #1fd1f9;
}

footer{
    text-align: center;
}

hr{
    margin: 2%;
    width: 90%;
    background-color: #111;
    height: 2px;
    border: none;
}

.scaled-iframe-transform {
    height: 100%;
    transform: scale(0.7); /* Scale to n % of original size */
    transform-origin: 0 0; /* Set the origin of scaling */
}